<div class="margin_page">
  <%= form_tag :controller=>'workers',:action => 'update', :id=>@worker do %>
    <%= render :partial => 'workers/form' %>
    <%=update_button%>
    <%=cancel_button({:type => 'button', :onClick=>"parent.location='" + url_for(:controller=>'workers',:action=>'index')+"'"})%>
    <%=delete_button({ :controller=>'workers',:action => 'destroy', :id => @worker }, :confirm => "Delete?", :method => :post)%>
  <% end %>
</div>    


<h4><%=link_to t('Find a job'), {:controller=>"workers", :action=>"find", :id=>@worker}, :id=>'find_link', :remote=>true %></h4>

<div id="search_block">
</div>



