
<table class="form" width="100%">
  <tr>
    <td align="right"><%=t(:field_name)%>:</td><td><%= text_field 'vacancy', 'name'  %></td>
  </tr>
  <tr>
    <td align="right"><%=t(:field_salary)%>:</td><td><%= text_field 'vacancy', 'salary'  %></td>
  </tr>
  <tr>
    <td align="right"><%=t(:field_skill)%>:</td><td><%=select_tag "vacancy", options_from_collection_for_select(@skill, "id", "name")  %></td>
  </tr>  
  <tr>
    <td align="right"><%=t(:field_contacts)%>:</td><td><%= text_field 'vacancy', 'contacts'  %></td>
  </tr>    
</table>


<% if @worker.errors.any? %>
  <ul class="errors">
    <% @worker.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>