
<table class="form" width="100%">
  <tr>
    <td align="right"><%=t(:field_name)%>:</td><td><%= text_field 'vacancy', 'name'  %></td>
  </tr>
  <tr>
    <td align="right"><%=t(:field_salary)%>:</td><td><%= text_field 'vacancy', 'salary'  %></td>
  </tr> 
  <tr>
    <td align="right"><%=t(:field_contacts)%>:</td><td><%= text_field 'vacancy', 'contacts'  %></td>
  </tr>    
  <% unless @worker.id.nil? %>
  <tr>
    <td align="right"><%=t(:field_skill)%>:</td>
    <td><%= text_field 'worker', 'skills', :value=>""  %><%=link_to t(:label_add_skill), '#', :"data-href" =>"/workers/add_skill/#{@worker.id}", :id=>'skill_link', :remote=>true %>  </td>
  </tr> 
  <tr>
    <td colspan="2">
    	<div id="skills">
	    		<% if @worker.skills.size>0 %>
				    <% @worker.skills.each do |skill|%>
				  		<%=skill.name%><br />    
				    <% end %>    			
	    		<% end %>
    	</div>	
    </td>
  </tr> 
  <% end %>   
</table>


<% if @worker.errors.any? %>
  <ul class="errors">
    <% @worker.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>