<% content_for :application_title do %>
	<title><%=t(:label_worker)%></title>
<% end%>

<% render :partial => 'layouts/menu/vacancies' %>

<% content_for :page_header do %>
  <%=t(:label_worker_list)%>
<%end%>

<% content_for :page_content do -%>

  <div class="margin_page">
  	<table cellpadding="0" cellspacing="0" width="100%" class="tbl">
  		<tr>
  			<th><%=t(:label_name)%></th>	
  			<th><%=t(:label_salary)%></th>
  			<th><%=t(:label_contacts)%></th>
  			<th><%=t(:label_status)%></th>
  		</tr>		
	  	<% if @worker.size>0 %>
		    <% @worker.each do |worker|%>
		  		<tr>
		  			<td><%=link_to worker.name, {:controller=>'workers', :action=>'edit', :id=>worker.id}%></td>	
		  			<td><%=worker.salary%></td>
		  			<td><%=worker.contacts%></td>
		  			<td><%=worker.status_id%></td>		  					  					  			
		  		</tr>		    
		    <% end %>
		<% else %>   
	  		<tr>
	  			<td><%=t(:label_no_items)%></td>	
	  		</tr>			 
	    <% end %>
    </table>
    <br />
  	<%=link_to t(:label_new_worker), {:controller=>'workers', :action=>'new'}%>    
  </div>
  
<% end %>