<!DOCTYPE html>
<html>
<head>
  <%= yield :application_title%>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <script>
  $(document).ready(function(){
	$('#v_skill_link').live('click', function(event){
	    event.preventDefault();
	    $.post($(this).attr('data-href') + "?skill=" + $('#vacancy_skills').val()+"&selected_skill=" + $('#vacancy_select_skill').val(), function(data){} );
	});  
	$('#w_skill_link').live('click', function(event){
	    event.preventDefault();
	    $.post($(this).attr('data-href') + "?skill=" + $('#worker_skills').val()+"&selected_skill=" + $('#worker_select_skill').val(), function(data){} );
	});				
  })	
  </script>
  
</head>
<body>

<div class="page">
	
	<div class="header">
		<h1>Job-for-Job</h1>
	</div>	
	
	<div class ="MainMenu" >
		<ul id="main-tr"> 
		  <li><%= link_to t(:main_menu_main),{:controller => 'main',:action=>'index'},{:id=>"main" }%></li>
		  <li><%= link_to t(:main_vacancies),{:controller => 'vacancies',:action=>'index'},{:id=>"vacancies" }%></li>
		  <li><%= link_to t(:main_worker),{:controller => 'workers',:action=>'index'},{:id=>"worker" }%></li>
		</ul>
	</div>
	
  <div id="flash_messages">
    <%= render :partial => 'layouts/flash' %>
  </div>	
	
	<div class="container">
		<h2><%= yield :page_header%></h2>
		<%= yield :page_content%>
	</div>
</div>
</body>
</html>
