<!DOCTYPE html>
<html>
<head>
  <%= yield :application_title%>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page">
	<div class ="MainMenu" >
	</div>
	
	<h2><%= yield :page_header%></h2>
	<%= yield :page_content%>
</div>
</body>
</html>
